{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog Django</title>
    <link rel="stylesheet" href="{% static 'posts/css/estilos.css' %}">
</head>
<body>
    <header>
        <h1>Mi blog Django</h1>
        <nav>
            <a href="{% url 'posts:inicio' %}">Inicio</a>
            <a href="{% url 'posts:acerca' %}">Acerca de</a>
            <a href="{% url 'posts:lista_posts' %}">Publicaciones</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
